flows.json
[{"id":"3ce7903e.b5c57","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9698d0d4.ddec4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"26f2bb59.1112d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3c5a536a.8ea53c","type":"ui_group","z":"","name":"Default","tab":"26f2bb59.1112d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"30887065.fc20b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1b11140.4e4ef","type":"inject","z":"3ce7903e.b5c57","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"3ce7903e.b5c57","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"3e69c709.cf7188","type":"ui_form","z":"9698d0d4.ddec4","name":"","label":"","group":"3c5a536a.8ea53c","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"p","type":"number","required":true,"rows":null},{"label":"Schooling","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":360,"wires":[["ff338fda.5c9a2"]]},{"id":"ff338fda.5c9a2","type":"function","z":"9698d0d4.ddec4","name":"pre_token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey= \"KpMafMLpRNUe0khO6MFyxRfND-4HwGAnV7jufbfeGbJV\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":220,"wires":[["22e21d46.f043d2"]]},{"id":"d0408377.5bb71","type":"function","z":"9698d0d4.ddec4","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"7255ba67-f185-429d-8c09-a061e5789e0f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload={\"fields\":[\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\",\" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["726a2602.d43358"]]},{"id":"51ab4c2a.c8b3d4","type":"function","z":"9698d0d4.ddec4","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["dcfbd3e4.da25b","438927b8.897ab8"]]},{"id":"22e21d46.f043d2","type":"http request","z":"9698d0d4.ddec4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":280,"y":100,"wires":[["d0408377.5bb71"]]},{"id":"726a2602.d43358","type":"http request","z":"9698d0d4.ddec4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7255ba67-f185-429d-8c09-a061e5789e0f/deployments/12478e1e-59ed-4265-8c21-5b5f78f3df2e/online","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":320,"wires":[["72aba9f.753dd58","51ab4c2a.c8b3d4"]]},{"id":"72aba9f.753dd58","type":"debug","z":"9698d0d4.ddec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":280,"wires":[]},{"id":"dcfbd3e4.da25b","type":"debug","z":"9698d0d4.ddec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":80,"wires":[]},{"id":"438927b8.897ab8","type":"ui_text","z":"9698d0d4.ddec4","group":"3c5a536a.8ea53c","order":1,"width":0,"height":0,"name":"","label":"LIFE-EXPECTANCY","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":200,"wires":[]}]